.bgCardClases{
    background-image: url(https://i.ibb.co/9WPH91f/4087841.jpg);
    background-size: cover;
}
.bgCardProfes{
    background-image: url(https://i.ibb.co/wdzLbS0/2.jpg);
    background-size: cover;
}